body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0366d6;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload, .visualizacao, .link {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

button {
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #024b8a;
}

.hidden {
    display: none;
}